wheel
setuptools
gunicorn
httptools
Eel==0.12.4
fastapi==0.63.0
h11==0.12.0
hijri-converter==2.1.1
html5lib==1.0.1
httplib2==0.14.0
loguru
openpyxl==3.0.6
python-multipart==0.0.5
PyInstaller
requests==2.22.0
requests-unixsocket==0.2.0
scikit-learn
scipy
simplejson==3.16.0
six==1.14.0
sklearn==0.0
urllib3==1.25.8
uvicorn==0.11.3
wadllib==1.3.3
wcwidth==0.1.8
webargs
webencodings==0.5.1
websockets==8.1
wrapt==1.11.2
auto-py-to-exe
